#root {
  /* max-width: 1280px; */
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  color: #303841;
}
@keyframes wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  100% {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}


